/* ----------- BODY BACKGROUND FOR GRADIENT BEHIND NAVBAR ----------- */
body, html {
  min-height: 100vh; 
  margin: 0;
  background:radial-gradient(circle at center , rgba(46, 33, 213, 1) 25%, rgba(6, 12, 85, 1) 99%) top/100% 20% repeat, #060C55;
  
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

