/* ----------- BODY BACKGROUND FOR GRADIENT BEHIND NAVBAR ----------- */
body, html {
  min-height: 100vh; 
  margin: 0;
  background:radial-gradient(circle at center , rgba(46, 33, 213, 1) 25%, rgba(6, 12, 85, 1) 99%) top/100% 20% repeat, #060C55;
  
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');


.root-container {
  background: #fff;
  border-radius: 119px;
  box-shadow: 0 10px 48px 0 rgba(19, 28, 101, 0.10);
  margin-top:80px;
  min-height: 100%;
  /* z-index: 2; */
  
}

/* Tablet (≤ 1024px) */
@media (max-width: 1024px) {
  .root-container {
    border-radius: 48px;
  }
}

/* Mobile (≤ 600px) */
@media (max-width: 600px) {
  .root-container {
    border-radius: 24px;
  }
}